<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="ytdl-fab-container.html">
<link rel="import" href="new-download.html">

<dom-module id="common-element">
  <template>
    <style>
    :host {
      position: fixed;
      left: 0;
      top: 0;
    }
    </style>
    <ytdl-fab-container
    page=[[page]]
    newDownloadState={{newDownloadState}}
    newdownloaddialog={{newdownloaddialog}}
    ></ytdl-fab-container>
    <new-download
    newDownloadState={{newDownloadState}}
    newdownloaddialog={{newdownloaddialog}}
    ></new-download>
  </template>

</dom-module>

<script>

Polymer({
  is: 'common-element',

  properties: {
    page: {
      type: Boolean
    },
    newdownloaddialog: {
      type: Boolean
    },
  }
});

</script>
