<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="custom-datatable">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors shared-styles">
      :host {
        /* table min width default*/
        --min-width: 720px;
      }

      .row {
        height: 48px;
        background-color: var(--primary-card-color);
        color: var(--primary-text-color);
        border-bottom: 1px solid var(--divider-color);
        padding-right: 24px;
        font-family: 'robotoregular';
        font-size: 13px;
      }
      .row:last-child {
        height: 56px;
      }

      .row.header {
        box-sizing: border-box;
        z-index: 1;
        height: 64px;
        padding-right: 27px;
        font-family: 'robotomedium';
        font-size: 12px;
        color: var(--secondary-text-color);
        user-select: none;
        position: absolute;
        width: 100%;
      }

      .row.header .cell iron-icon {
        opacity: 0;
        transform: scale(.5);
        transition: 0.3s ease-out;
      }

      iron-icon {
        --iron-icon-height:: 16px;
        --iron-icon-width: 16px;
        --iron-icon-fill-color: var(--secondary-text-color);
        padding-right: 2px;
      }
      .row:not(.header):hover {
        color: var(--highlight-text-color);
        background-color: var(--table-highlight-color);
      }
      .row.header .cell:hover iron-icon {
        transform: scale(1);
        opacity: 1;
      }
      .cell:not(.check) {
        padding-left: 56px;
        text-align: right;
        min-width: 100px;
        line-height: 64px;
        position: relative;
        /* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .cell.check {
        line-height: 64px;
        width: 20px;
      }
      .cell:first-child,
      .cell:nth-child(2) {
        padding-left: 24px;
      }

      .cell.num {
        text-align: right;
      }

      .tablerow {
        min-width: var(--min-width);
      }

      iron-list {
        overflow: visible !important;
        margin-top: 64px;
      }

      paper-checkbox {
        --paper-checkbox-checked-ink-color: var(--accent-color);
        --paper-checkbox-checked-color: var(--accent-color);
        --paper-checkbox-checkmark-color: var(--utility-text-color);
      }

      paper-checkbox.check {
        pointer-events: none;
      }

    </style>
    <div class="layout horizontal row header tablerow" style="top: [[appscrolltop]]px;">
      <div class="cell check">
        <paper-checkbox checked="{{allCheck}}"></paper-checkbox>
      </div>
      <template is="dom-repeat" items="[[tableheaders]]" as="heading">
        <div class="flex cell">
          <iron-icon icon="[[heading.icon]]"></iron-icon>
          [[heading.title]]
          <paper-ripple></paper-ripple>
        </div>
      </template>
    </div>
    <iron-list id="list" items="[[tabledata]]" as="item" selected-items="{{selectedItems}}" selection-enabled multi-selection>
      <template>
        <div class="layout horizontal row center tablerow">
          <div class="cell check">
            <!-- iron list bug prevents checkbox events to propogate back so using my hack now -->
            <!-- https://github.com/PolymerElements/iron-list/issues/163 -->
            <!-- https://github.com/PolymerElements/iron-list/issues/199 -->
            <!-- https://github.com/PolymerElements/iron-list/issues/111 -->
            <paper-checkbox class="check" checked="[[selected]]"></paper-checkbox>
          </div>
          <div class="flex cell">
            [[_convertToFormat(item.file, '0')]]
          </div>
          <div class="flex cell">
            [[_convertToFormat(item.downloaded, '1')]]
          </div>
          <div class="flex cell">
            [[_convertToFormat(item.status, '2')]]
          </div>
          <div class="flex cell">
            [[_convertToFormat(item.size, '3')]]
          </div>
          <div class="flex cell">
            [[_convertToFormat(item.lasttry, '4')]]
          </div>
          <paper-ripple></paper-ripple>
        </div>
      </template>
      <script></script>
    </iron-list>
    <!-- manages the app's theme -->
    <theme-manager></theme-manager>
  </template>

  <script>
    Polymer({
      is: 'custom-datatable',

      properties: {
        tableheaders: {
          type: Array,
          value: [
            {
              title: 'Number',
              icon: 'arrow-upward'
            }, {
              title: 'Page',
              icon: 'arrow-upward'
            }, {
              title: 'Last Try',
              icon: 'arrow-downward'
            }
          ],
          notify: true
        },
        tabledata: {
          type: Array
        },
        headerLeft: {
          type: String
        },
        selectedItems: {
          type: Object
        },
        toolbaritems: {
          type: Number,
          notify: true
        },
        allCheck: {
          type: Boolean,
          notify: true,
          observer: '_allCheckedChanged'
        },
        appscrolltop: {
          type: Number
        },
        tableclearall: {
          type: Boolean,
          notify: true,
          observer: '_onClearAll'
        },
        minwidth: {
          type: 'Number',
          observer: '_setMinWidth'
        }
      },

      observers: ['_itemsChanged(selectedItems.length)'],

      // convert to last tried or bytes, etc.
      _convertToFormat(value, index) {
        let conversion = '';
        // find the conversion method
        if (this.tableheaders[index].hasOwnProperty('conversion')) {
          conversion = this.tableheaders[index].conversion;
        }
        // do the conversion if found
        if (conversion === 'recent') {
          let moment = require('moment');
          value = moment(value).fromNow();
        }
        return value;
      },

      _setMinWidth: function (width) {
        this.customStyle['--min-width'] = `${width}px`;
        this.updateStyles();
      },

      _onClearAll: function (clearAll) {
        if (clearAll) {
          // un select all
          this.$.list.clearSelection();
          this.tableclearall = false;
          this.allCheck = false;
        }
      },

      _allCheckedChanged: function (checked) {
        if (checked) {
          // select all items
          let listItems = this.$.list.items,
            i = listItems.length;
          while (i--) {
            this.$.list.selectItem(listItems[i]);
          }
        } else {
          // un select all
          this.$.list.clearSelection();
        }
      },

      _itemsChanged: function (items) {
        this.toolbaritems = items;
      }
    });
  </script>
</dom-module>
