<!-- the heart and soul of this project this is the guy who is the one to do all the coordination -->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<dom-module id="download-manager">
  <template>
    <app-indexeddb-mirror id="indexeddb" key="downloads" online="{{online}}" data="{{downloadsindex}}" persisted-data="{{downloadsindex}}"></app-indexeddb-mirror>
    <!-- persisted-data="{{persistedData}}"> -->
    <app-localstorage-document key="lastdownloadindex" data="{{lastdownloadindex}}"></app-localstorage-document>
  </template>

  <script>
    Polymer({
      is: 'download-manager',

      /**
       * NOTE some of these properties are not yet used or implemented but just present for future usage, they don't affect the polymer perfomance as they use data paths to update objects and arrays and only update changes
       * they are marked with FIXME tags
       * index: 0, integer index of the current file (unique)
       * cIndex: 0, integer index of the current file in the downloadProcesses (unique)
       * fileName: 'C:\Users\User\Music\Song.mp4', // full path to file
       * format: 18, the ytdl format code used for downloading it, defaults to the ytdl default of blank
       * url: 'the-website-url-download-the-video.com',
       * dUrl: 'the-link-to-download-the-video-from.mp4',
       * size: 94, full size in bytes
       * FIXME description: 'something about it',
       * firstTry: '17/05/2016 9:06 AM', first attempt at downloading the file
       * lastTry: '17/05/2016 9:06 AM', last attempt at downloading the file
       * downloaded: 5, downloaded size in bytes
       * status: 'paused', can have values as 'starting', 'paused', 'downloading', 'error', 'canceled', 'downloaded'
       * selected: true or false for checkbox and other use cases
      */

      properties: {
        lastdownloadindex: {
          type: Number,
          notify: true,
          value: -1
        },
        currentdownloadindex: {
          type: Number,
          notify: true,
          value: -1
        },
        url: {
          type: String
        },
        online: {
          type: Array,
          observer: 'onlineChange'
        },
        downloadsindex: {
          type: Array
        },
        downloads: {
          type: Array,
          notify: true,
          value: []
        },
        requestdownload: {
          type: Object,
          observer: '_requestDownloadChange',
          notify: true
        },
        downloadinfo: {
          type: Object,
          notify: true
        }
      },

      // generate new download entry and add it to the top of the list
      addDownload: function () {
        this.unshift('downloads', {
          index: this.lastdownloadindex,
          cIndex: this.currentdownloadindex,
          file: '',
          downloaded: 0,
          size: 0,
          format: 'default',
          url: this.url,
          dUrl: this.url,
          status: 'Starting',
          firstTry: moment().toISOString(),
          lasttry: moment().toISOString()
        });
        // update data in the indexeddb
        this.set('downloadsindex', []);
        this.set('downloadsindex', this.get('downloads'));
      },

      onlineChange: function () {
        this.$.indexeddb.getStoredValue('downloads').then((response) => {
          if (response) {
            this.set('downloads', []);
            this.set('downloads', response);
          }
        }).catch((error) => {
          console.error(error);
        });
      },

      _requestDownloadChange: function (requestdownload) {
        // if there is a new download only then do something
        if (Object.keys(requestdownload).length > 0) {
          // check for the download mode
          if (requestdownload.mode === 'quick') {
            // quick download mode
          } else {
            // new download mode
            this.initDownload();
          }
        }
      },

      // initiate a download and keep the reference for it in the downloadProcesses
      initDownload: function () {
        let downloadProcess = child_process.fork(path.join(nw.__dirname, 'src', 'workers', 'downloader.js'), [], {cwd: nw.__dirname});
        // increment the last download index
        // TODO increment only if necessary else use the previous index if resuming a download
        this.lastdownloadindex++;
        this.currentdownloadindex++;
        const cIndex = this.lastdownloadindex;
        // request file info
        // TODO add more parameters from settings and the dialog here e.g. username and password
        let args = Object.assign({}, this.requestdownload),
          size;
        args.dirname = nw.__dirname;
        args.index = cIndex;
        downloadProcess.send({type: 'info', args: Object.assign({}, args)});
        // read changes from the process
        downloadProcess.on('message', (message) => {
          if (message.type === 'info') {
            // TODO add Information to data array downloadProcess.send({type: 'start'}) send back the info to the dialog
            this.addDownload();
            this.downloadinfo = message.message;
          } else if (message.type === 'data') {
            this.set('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.status', 'Downloading');
            size = this.get('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.downloaded');
            this.set('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.lasttry', moment().toISOString());
            this.set('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.downloaded', size + message.message);
          } else if (message.type === 'end') {
            this.set('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.status', 'Downloaded');
            this.set('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.lasttry', moment().toISOString());
          } else {
            console.log(message);
          }
          // update data in the indexeddb
          this.set('downloadsindex', []);
          this.set('downloadsindex', this.get('downloads'));
        });
        // catch error and exit codes
        downloadProcess.on('error', (message) => {
          console.error(message);
          if (message.hasOwnProperty('index')) {
            this.set('downloads.' + lodash.findIndex(this.downloads, {'index': this.lastdownloadindex}) + '.status', 'Error');
          }
        });
        downloadProcess.on('exit', (message, signal) => {
          console.log(`exit: ${message} and ${signal}`);
        });
        // push them to the current downloadProcess array
        downloadProcesses.push({lastindex: cIndex, cIndex: this.currentdownloadindex, process: downloadProcess});
      }
    });
  </script>
</dom-module>