<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="fab-download">
  <template>
    <style include="shared-styles">
    </style>
    <paper-fab id="fabDownload" icon="add"></paper-fab>
    <paper-tooltip for="fabDownload" position="left">Download from a new URL</paper-tooltip>
    <!-- manages the app's theme -->
    <theme-manager></theme-manager>
  </template>

</dom-module>

<script>

  Polymer({
    is: 'fab-download',

    properties: {
      newdownloaddialog: {
        type: Boolean,
        notify: true
      }
    },

    onNewDownload: function () {
      this.newdownloaddialog = true;
    },

    ready: function () {
      // attach event listeners on dom ready
      this.listen(this.$.fabDownload, 'tap', 'onNewDownload');
    }
  });
</script>