<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="file-info">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors shared-styles">
      app-toolbar {
        margin-top: 32px;
      }

    </style>
    <paper-material elevation="1">
      <app-toolbar>
        <div main-title>Details</div>
      </app-toolbar>
    </paper-material>
    <theme-manager></theme-manager>
  </template>
  <script>
    Polymer({
      is: 'file-info',

      ready: function () {
        // this.$.shutdownDialog.open();
      },

      attached: function () {
        // this.listen(this.$.yes, 'tap', 'onYes');
      },

      detached: function () {
        // this.unlisten(this.$.yes, 'tap', 'onYes');
      },

      onYes: function () {
        console.log('yes');
      }
    });
  </script>
</dom-module>