<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="file-info">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors shared-styles">
      :host {
        color: var(--primary-text-color);
      }

      .fileinfo {
        height: 100%;
      }

      app-toolbar {
        margin-top: 32px;
      }

      div[main-title] {
        text-align: left;
        padding-left: 12px;
      }

      .content {
        overflow-y: auto;
        text-align: left;
        height: calc(100% - 120px);
        padding: 12px 12px 64px 16px;
      }

      .multitext {
        word-wrap: break-word;
      }

      .divider {
        width: 100%;
        height: 1px;
        margin: 8px 0;
        background-color: var(--divider-color);
      }

    </style>
    <paper-material class="fileinfo" elevation="1">
      <paper-material elevation="1">
        <app-toolbar>
          <div main-title>Details</div>
        </app-toolbar>
      </paper-material>
      <div class="content">
        <div>
          Full Path :
        </div>
        <div class="multitext">
          [[fileinfo.file]]
        </div>
        <div class="divider"></div>
        <div>
          Url :
        </div>
        <div class="multitext">
          [[fileinfo.url]]
        </div>
        <div class="divider"></div>
        <div>
          Download Url :
        </div>
        <div class="multitext">
          [[fileinfo.dUrl]]
        </div>
        <div class="divider"></div>
        <div>
          Format :
        </div>
        <div>
          [[fileinfo.format]]
        </div>
        <div class="divider"></div>
        <div>
          Downloaded Size :
        </div>
        <div>
          [[toSize(fileinfo.downloaded)]]
        </div>
        <div class="divider"></div>
        <div>
          File Size :
        </div>
        <div>
          [[toSize(fileinfo.size)]]
        </div>
        <div class="divider"></div>
        <div>
          Status :
        </div>
        <div>
          [[fileinfo.status]]
        </div>
        <div class="divider"></div>
        <div>
          First Try :
        </div>
        <div class="multitext">
          [[toTime(fileinfo.firsttry)]]
        </div>
        <div class="divider"></div>
        <div>
          Last Try :
        </div>
        <div class="multitext">
          [[toTime(fileinfo.lasttry)]]
        </div>
      </div>
    </paper-material>
    <theme-manager></theme-manager>
  </template>
  <script>
    Polymer({
      is: 'file-info',

      properties: {
        fileinfo: {
          type: Object
        },
        toolbaritems: {
          type: Number
        },
        selecteditems: {
          type: Array
        }
      },

      observers: ['_itemsChanged(toolbaritems, selecteditems)'],
      
      toTime: function (time) {
        if (time === '—') {
          return '—';
        } else {
          return moment(time).format("dddd, MMMM Do YYYY, h:mm:ss a");
        }
      },

      toSize: function (size) {
        if (size === '—') {
          return '—';
        } else {
          return bytes(size);
        }
      },

      calcSize: function (items, prop) {
        let size = 0;
        for (let item of items) {
          if (item[prop] !== '—') {
            size += item[prop];
          }
        }
        // if it is 0
        if (size === 0) {
          size = '—';
        }
        return size;
      },

      _itemsChanged: function (length, items) {
        if (length === 1) {
          this.set('fileinfo', {});
          this.set('fileinfo', items[0]);
        } else if (length > 1) {
          this.set('fileinfo', {});
          this.set('fileinfo', {
            file: '—',
            url: '—',
            dUrl: '—',
            format: '—',
            status: '—',
            firsttry: '—',
            lasttry: '—',
            downloaded: this.calcSize(items, 'downloaded'),
            size: this.calcSize(items, 'size')
          });
        }
      }
    });
  </script>
</dom-module>