<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="final-download">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors shared-styles">
      paper-dialog {
        --paper-dialog: {
          min-width: 500px;
        }
      }

      .buttons paper-button {
        --paper-button: {
          color: var(--primary-text-color);
        }
      }

      .file {
        display: none;
      }
      
      .format {
        margin-right: 8px;
      }

    </style>
    <paper-dialog opened={{finaldownloaddialog}} entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Confirm download options</h2>
      <div class="layout horizontal center-center">
        <paper-input id="filepath" class="flex-1" label="Path to save file" placeholder="e.g. C:\Users\User\Videos" error-message="This is not a valid folder path"></paper-input>
        <input id="file" class="file" type="file" tabindex="-1" nwsaveas nwworkingdir accept=".mp4,.flv">
        <paper-icon-button id="selectButton" icon="folder" alt="Select folder path"></paper-icon-button>
        <paper-tooltip for="selectButton">Select folder path</paper-tooltip>
      </div>
      <div class="layout horizontal center-center">
        <paper-dropdown-menu id="format" class="flex-1 format" label="Choose a format">
          <paper-listbox class="dropdown-content" selected=[[format]]>
            <paper-item>Default</paper-item>
            <paper-item>144p</paper-item>
            <paper-item>24ddddddddddddddddddddddddddddd0p</paper-item>
            <paper-item>720p</paper-item>
            <paper-item>144p</paper-item>
            <paper-item>2ddddddddddddddddddddddddddddd40p</paper-item>
            <paper-item>720p</paper-item>
            <paper-item>1ddddddddddddddddddddddddddddd44p</paper-item>
            <paper-item>240p</paper-item>
            <paper-item>720p</paper-item>
            <paper-item>144p</paper-item>
            <paper-item>240p</paper-item>
            <paper-item>720p</paper-item>
            <paper-item>144p</paper-item>
            <paper-item>240p</paper-item>
            <paper-item>720p</paper-item>
            <paper-item>144p</paper-item>
            <paper-item>240p</paper-item>
            <paper-item>720p</paper-item>
            <paper-item>144p</paper-item>
            <paper-item>240p</paper-item>
            <paper-item>72ddddddddddddddddddddddddddddddddsss0p</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-spinner-lite alt="fetching formats" active=[[active]]></paper-spinner-lite>
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss>cancel</paper-button>
        <paper-button id="start">start</paper-button>
      </div>
    </paper-dialog>
    <!-- manages the app's theme -->
    <theme-manager></theme-manager>
  </template>

</dom-module>

<script>

  Polymer({
    is: 'final-download',

    behaviors: [Polymer.NeonAnimationRunnerBehavior],

    properties: {
      auth: {
        type: Boolean
      },
      finaldownloaddialog: {
        type: Boolean,
        notify: true
      },
      url: {
        type: String,
        notify: true
      },
      username: {
        type: String,
        notify: true
      },
      password: {
        type: String,
        notify: true
      },
      format: {
        type: Number,
        value: 0
      },
      active: {
        type: Boolean,
        value: true
      }
    },

    ready: function () {
      // attach event listeners on dom ready
      this.listen(this.$.start, 'tap', 'onStart');
      this.listen(this.$.selectButton, 'tap', 'onSelect');
      this.listen(this.$.file, 'change', 'onFile');
      // reset loader
      this.active = true;
      // force style app header layout http://stackoverflow.com/questions/35149624/dynamically-inject-shared-styles-in-polymer-element-polymer-1-2-3
      let myDomModule = document.createElement('style', 'custom-style');
      myDomModule.setAttribute('include', 'shared-styles');
      Polymer.dom(this.$.format.$.menuButton.root).appendChild(myDomModule);
    },

    onStart: function () {
      // clear user name and password as well
      this.username = '';
      this.password = '';
    },

    onSelect: function () {
      this.$.file.click();
    },

    onFile: function () {
      let filePath = this.$.file.value;
      if (filePath) {
        // if file path is not empty set it to text
        this.$.filepath.value = filePath;
      }
    }
  });
</script>