<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="new-download">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors shared-styles">
      paper-dialog {
        --paper-dialog: {
          min-width: 500px;
        };
        --paper-dialog-title: {
          overflow: visible;
        };
      }

      .buttons paper-button {
        --paper-button: {
          color: var(--primary-text-color);
        }
      }

    </style>
    <paper-dialog opened={{newdownloaddialog}} entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>
        Download a video or a playlist (if-supported)
        <paper-icon-button id="infoButton" icon="info" alt="More Information regarding list of supported formats and websites"></paper-icon-button>
        <paper-tooltip for="infoButton">More Information regarding list of supported formats and websites</paper-tooltip>
      </h2>
      <div class="layout horizontal center-center">
        <paper-input id="url" class="flex-1" label="Enter or Paste the video url here" placeholder="e.g. https://www.youtube.com/watch?v=foE1mO2yM04" error-message="Enter a valid url" type="url" value={{url}} autofocus auto-validate required></paper-input>
        <paper-icon-button id="pasteButton" icon="content-paste" alt="Paste url from clipboard"></paper-icon-button>
        <paper-tooltip for="pasteButton">Paste url from clipboard</paper-tooltip>
      </div>
      <paper-toggle-button checked={{auth}}>Enable Authentication</paper-toggle-button>
      <iron-collapse opened={{auth}}>
        <paper-input label="Username" value={{username}}></paper-input>
        <paper-input label="Password" type="password" value={{password}}></paper-input>
      </iron-collapse>
      <div class="buttons">
        <paper-button dialog-dismiss>cancel</paper-button>
        <paper-button id="next">next</paper-button>
      </div>
    </paper-dialog>
    <theme-manager></theme-manager>
  </template>

</dom-module>

<script>
  Polymer({
    is: 'new-download',

    behaviors: [Polymer.NeonAnimationRunnerBehavior],

    properties: {
      auth: {
        type: Boolean
      },
      nextaction: {
        type: Boolean
      },
      newdownloaddialog: {
        type: Boolean,
        notify: true,
        observer: '_dialogChange'
      },
      finaldownloaddialog: {
        type: Boolean,
        notify: true
      },
      url: {
        type: String,
        observer: '_onDropUrl'
      },
      username: {
        type: String,
      },
      password: {
        type: String,
      },
      requestdownload: {
        type: Object,
        notify: true
      }
    },

    ready: function () {
      // attach event listeners on dom ready
      this.listen(this.$.infoButton, 'tap', 'onInfo');
      this.listen(this.$.pasteButton, 'tap', 'onPaste');
      this.listen(this.$.next, 'tap', 'onNext');
      // add event listeners to trigger file download if necessary
      window.ondragover = window.ondragleave = window.ondragend = () => false;
      window.ondrop = (event) => {
        event.preventDefault();
        // capture dropped urls and start download process if a url
        const dropUrl = event.dataTransfer.getData("text/plain");
        if (urlPattern.test(dropUrl)) {
          // copy text to the url input of the dialog
          this.url = dropUrl;
          // open the dialog
          this.nextaction = true;
          this.newdownloaddialog = true;
        }
      }
    },

    _dialogChange: function (opened) {
      // clear to defaults if not already
      if (opened && !this.nextaction) {
        this.auth = false;
        this.username = '';
        this.password = '';
        this.url = '';
      } else {
        this.nextaction = false;
      }
    },

    onNext: function () {
      if (this.$.url.validate()) {
        // call the download manager
        let prepDownload = {
          url: this.url,
          mode: 'normal'
        }
        // if auth add them as well
        if (this.auth) {
          prepDownload.username = this.username;
          prepDownload.password = this.password;
        }
        // now send them via requestdownload
        // https://www.polymer-project.org/1.0/docs/devguide/model-data#override-dirty-check
        this.requestdownload = {};
        this.requestdownload = Object.assign({}, prepDownload);
        this.nextaction = true;
        this.newdownloaddialog = false;
        this.finaldownloaddialog = true;
      }
    },

    _onDropUrl: function (url) {
      this.url = url;
    },

    onInfo: function () {
      // Open URL with default browser.
      nw.Shell.openExternal('https://github.com/rg3/youtube-dl/blob/master/docs/supportedsites.md');
    },

    onPaste: function () {
      // get clipboard from nw
      let clipboard = nw.Clipboard.get();
      if (urlPattern.test(clipboard.get())) {
        this.$.url.focus();
        // now paste the text to the element
        this.url = clipboard.get();
      }
    }
  });
  // standard regex for matching the urls see https://gist.github.com/dperini/729294
  const urlPattern = /^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,}))\.?)(?::\d{2,5})?(?:[/?#]\S*)?$/i
</script>