<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="new-download">
  <template>
    <paper-dialog
    id="dialog"
    opened={{newdownloaddialog}}
    entry-animation="scale-up-animation"
    exit-animation="fade-out-animation"
    with-backdrop
    >
    <h2>Header</h2>
    <paper-dialog-scrollable>
      Lorem ipsum...
    </paper-dialog-scrollable>
    <div class="buttons">
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button dialog-confirm autofocus>Accept</paper-button>
    </div>
  </paper-dialog>
</template>

</dom-module>

<script>

Polymer({
  is: 'new-download',

  behaviors: [
    Polymer.NeonAnimationRunnerBehavior
  ],

  properties: {
    newdownloaddialog: {
      type: Boolean,
      notify: true
    },
  },
});
</script>
