<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="options-toolbar">
  <template>
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning shared-styles">
      :host {
        display: none;
        background-color: var(--accent-color);
        user-select: none;
      }

      paper-icon-button {
        --paper-icon-button-ink-color: #fff;
        --paper-icon-button: {
          color: #fff;
        };
      }

      paper-toolbar {
        height: 100%;
        padding-right: 8px;
        color: #fff;
      }

      .title {
        margin-left: 24px;
        @apply(--paper-font-title);
      }

    </style>
    <paper-toolbar class="horizontal center layout">
      <div class="title flex-1">[[items]] Selected</div>
      <!-- use dom if statements to check if we need to add some buttons or not -->
      <paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>
    </paper-toolbar>
  </template>

  <script>
    Polymer({
      is: 'options-toolbar',

      behaviors: [Polymer.NeonAnimationRunnerBehavior],

      properties: {
        opened: {
          type: Boolean
        },
        items: {
          type: Number,
          value: 0
        },
        page: {
          type: String,
          observer: '_pageNameChanged'
        },

        animationConfig: {
          type: Object,
          value: function () {
            return {
              'entry': [
                {
                  name: 'fade-in-animation',
                  node: this
                }
              ],
              'exit': [
                {
                  name: 'fade-out-animation',
                  node: this
                }
              ]
            }
          }
        }
      },

      listeners: {
        'neon-animation-finish': '_onAnimationFinish'
      },

      _onAnimationFinish: function () {
        if (!this.opened) {
          this.style.display = 'none';
        }
      },

      _show: function () {
        // if not shown
        if (!this.opened) {
          this.opened = true;
          this.style.display = '';
          this.playAnimation('entry');
        }
      },

      _hide: function () {
        // if shown
        if (this.opened) {
          this.opened = false;
          this.playAnimation('exit');
        }
      },

      _pageNameChanged: function (page) {
        // hide if visible
        this._hide();
      }
    });
  </script>
</dom-module>