<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="about-view">
  <template>
    <style include="iron-flex iron-flex-alignment iron-flex-factors shared-styles">
      .cardItem {
        position: relative;
        padding: 16px;
        user-select: none;
        border-radius: 3px;
        @apply(--paper-font-title);
      }

      paper-ripple {
        color: var(--primary-color);
      }
      paper-button:not(.check) {
        --paper-button: {
          color: var(--primary-text-color);
        }
      }

      paper-button.check {
        background: var(--accent-color);
        --paper-button: {
          color: var(--primary-inverted-text-color);
        }
      }

    </style>

    <app-localstorage-document key="autoupdate" data="{{autoupdate}}"></app-localstorage-document>
    <app-localstorage-document key="lastupdated" data="{{lastupdated}}"></app-localstorage-document>

    <div class="card">
      <div class="cardTitle">Youtube Dl GUI - v0.3.0</div>
      <div class="cardItem">
        Node Js Version [[node]]
        <paper-ripple></paper-ripple>
      </div>
      <div class="cardItem">
        Chrome [[chrome]]
        <paper-ripple></paper-ripple>
      </div>
      <div class="cardItem">
        Nwjs [[nwjs]]
        <paper-ripple></paper-ripple>
      </div>
      <div class="cardItem">
        Youtubedl [[youtubedlversion]]
        <paper-ripple></paper-ripple>
      </div>
    </div>
    <div class="card">
      <div class="cardTitle">Help and Feedback</div>
      <paper-button class="layout horizontal">
        <div class="flex-1">
          Reset to Default Settings
        </div>
        <iron-icon icon="history"></iron-icon>
      </paper-button>
      <paper-button id="bugreport" class="layout horizontal">
        <div class="flex-1">
          Report a Bug
        </div>
        <iron-icon icon="bug-report"></iron-icon>
      </paper-button>
      <paper-button id="checkupdates" class="check" raised>
        Check for Updates
      </paper-button>
    </div>
    <!-- manages the app's theme -->
    <theme-manager></theme-manager>
  </template>

  <script>
    Polymer({
      is: 'about-view',

      properties: {
        chrome: {
          type: String,
          value: process.versions['chromium']
        },
        nwjs: {
          type: String,
          value: process.versions['nw']
        },
        node: {
          type: String,
          value: process.versions['node']
        },
        youtubedlversion: {
          type: String,
          value: ''
        },
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        autoupdate: {
          type: Boolean
        },
        lastupdated: {
          type: String
        },
        forceupdate: {
          type: Boolean,
          notify: true
        }
      },

      onBugreport: function () {
        // Open URL with default browser.
        nw.Shell.openExternal('https://github.com/puranjayjain/youtube-dl-gui/issues');
      },
      
      onCheckupdates: function () {
        this.forceupdate = true;
      },

      attached: function () {
        this.listen(this.$.bugreport, 'tap', 'onBugreport');
        this.listen(this.$.checkupdates, 'tap', 'onCheckupdates');
      },
      
      detached: function () {
        this.unlisten(this.$.bugreport, 'tap', 'onBugreport');
        this.unlisten(this.$.checkupdates, 'tap', 'onCheckupdates');
      },

      // do stuff on about page entry
      _pageChanged: function (page) {
        if (page === 'about' && !this.youtubedlversion) {
          const detailsPath = path.join(nw.__dirname, 'node_modules', 'youtube-dl', 'bin', 'details');
          fs.readFile(detailsPath, 'utf8', (err, contents) => {
            if (err) 
              throw err;
            
            // set version string
            this.youtubedlversion = JSON.parse(contents).version;
          });
        }
      }
    });
  </script>
</dom-module>