html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

/*custom scroll bars*/

/*animations for react css transition groups*/
/*toolbar animations*/
.toolbarAnimate-enter {
  opacity: 0.01;
}

.toolbarAnimate-enter.toolbarAnimate-enter-active {
  opacity: 1;
  transition: opacity .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.toolbarAnimate-leave {
  opacity: 1;
}

.toolbarAnimate-leave.toolbarAnimate-leave-active {
  opacity: 0.01;
  transition: opacity .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

/*placeholder for downloaded animations*/
.downloadedAnimate-appear {
  transform: scale(0.01);
}

.downloadedAnimate-appear.downloadedAnimate-appear-active {
  transform: scale(1);
  transition: transform .3s cubic-bezier(0.4, 0.0, 0.2, 1) .5s;
}

.downloadedAnimate-enter {
  transform: scale(0.01);
}

.downloadedAnimate-enter.downloadedAnimate-enter-active {
  transform: scale(1);
  transition: transform .3s cubic-bezier(0.4, 0.0, 0.2, 1) .3s;
}

.downloadedAnimate-leave {
  transform: scale(1);
}

.downloadedAnimate-leave.downloadedAnimate-leave-active {
  transform: scale(0.01);
  transition: transform .3s cubic-bezier(0.4, 0.0, 0.2, 1) .3s;
}
